<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
<title>Insert title here</title>
</head>
<body th:object="${pizza}">
	<div class="container mt-5">
		<div class="row border border-dark pt-5 pb-5">
			<h1 class="text-center">Modifica la pizza</h1>
			<div class="col d-flex justify-content-center my-3">
				<form class="w-50" th:action="@{/pizza/edit/{id} (id=*{id})}" method="POST">
				  <div class="mb-3">
				    <label class="form-label">Nome</label>
				    <input type="text" class="form-control" name="nome" th:value="*{nome}">
				    <label 
				    	style="color: red" 
				    	class="form-label"
				    	th:if="${errors != null && errors.hasFieldErrors('nome')}">
				    	[[ ${errors.getFieldError('nome').defaultMessage} ]]
			    	</label>
				  </div>
				  <div class="mb-3">
				    <label class="form-label">Descrizione</label>
				    <input type="text" class="form-control" name="descrizione" th:value="*{descrizione}">
				    <label 
				    	style="color: red" 
				    	class="form-label"
				    	th:if="${errors != null && errors.hasFieldErrors('descrizione')}">
				    	[[ ${errors.getFieldError('descrizione').defaultMessage} ]]
			    	</label>
				  </div>
				  <div class="mb-3">
				    <label class="form-label">URL Foto</label>
				    <input type="text" class="form-control" name="foto" th:value="*{foto}">
				    <label 
				    	style="color: red" 
				    	class="form-label"
				    	th:if="${errors != null && errors.hasFieldErrors('foto')}">
				    	[[ ${errors.getFieldError('foto').defaultMessage} ]]
			    	</label>
				  </div>
				  <div class="mb-3">
				    <label class="form-label">Prezzo</label>
				    <input type="number" class="form-control" name="prezzo" th:value="*{prezzo}">
				    <label 
				    	style="color: red" 
				    	class="form-label"
				    	th:if="${errors != null && errors.hasFieldErrors('prezzo')}">
				    	[[ ${errors.getFieldError('prezzo').defaultMessage} ]]
			    	</label>
				  </div>
				  <div class="mb-3">
				    <label class="form-label">Ingredienti</label>
				    <div th:each="ingrediente : ${ingredienti}" th:object="${ingrediente}">
					    <input th:id="${'ingrediente-' + ingrediente.id}" 
				    		th:value="*{id}" th:checked="${pizza.ingredienti.contains(ingrediente)}"
				    		type="checkbox" name="ingredienti">
					    <label th:for="${'ingrediente-' + ingrediente.id}">[[ *{nome} ]]</label>
				    </div>
				  </div>
				  <a class="btn btn-secondary" href="/">Torna alla home</a>
				  <button type="submit" class="btn btn-success">Aggiorna</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>