<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
<title>Insert title here</title>
</head>
<body th:object="${pizza}">
<div class="container mt-5">
		<div class="row border border-dark pt-5 pb-5">
			<h1 class="text-center">Dettaglio</h1>
			
			<div class="col d-flex justify-content-center">
				<div class="card" style="width: 18rem;">
				  <img th:src="*{foto}" class="card-img-top">
				  <div class="card-body text-center">
				    <h5 class="card-title">[[ *{nome} ]]</h5>
				    <p class="card-text">[[ *{descrizione} ]]</p>
				    <p class="card-text">[[ *{getFormatPrezzo} ]]</p>
				    <p class="card-text" th:each="ingrediente : *{ingredienti}" th:object="${ingrediente}">
				    	[[ *{nome} ]]
				    </p>
				  </div>
				  <div class="card-body text-center">
				    <h2 class="card-title">Offerte</h2>
				    <div th:each="offerta : ${offerte_list}" th:object="${offerta}">
					    <p class="card-text">[[ *{titolo} ]] - [[ *{sconto} ]]%</p>
					    <p class="card-text"><strong>Prezzo scontato: </strong>[[ *{getPrezzoScontato} ]]</p>
				    </div>
				    <a class="btn btn-secondary" href="/">Torna alla home</a>
				    <h5 th:if="${offerte_list.isEmpty()}">Non sono presenti offerte</h5>
				  </div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>